* {
    font-family: sans-serif;
}

.cinza {
    background: darkgray;
}

.verde {
    background: rgb(120, 227, 120);
    color: rgb(42, 69, 1);
}

.amarela {
    background-color: rgb(214, 250, 106);
    color: rgb(113, 119, 28);
}