
body {
    font-family: sans-serif;
    background-color: rgb(65, 64, 64);
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(81, 80, 80);
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.311);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav:hover {
    text-decoration: underline;
    color: darkred;
    cursor: pointer;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.422);
}

article {
    background-color: lightgrey;
    padding: 5px;
}

article > aside {
    background-color: rgb(157, 155, 155);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px
}

footer > p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}