* {
    margin: 0;
    padding: 0;
    align-items: center;
    place-items: center;
    text-decoration: none;
}

body {
    background: rgb(20, 20, 20);
    color: white;
    font-family: sans-serif;
    margin-top: 3rem;
}

body div div:hover {
    text-decoration: underline;
    color: darkred;
    transition: all 600ms ease-in-out;
    ;
}

h1, p{
    text-align: center;
    padding-bottom: 1.3rem;
}

a {
    color: white;
    padding-top: 5rem;
}


.container {
    margin-top: 1rem;
    text-align: center;  
}